In [ ]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [5]:
#Create a sample DataFrame
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [6]:
#creating an instance of OneHotEncoder
encoder=OneHotEncoder()

In [9]:
#perfrom fit and transform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [13]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [14]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [29]:
#converting the categorical data from seaborn 'tips" to numberical data
import seaborn as sns
df1 = sns.load_dataset('tips')
df1_encoded = pd.get_dummies(df1, columns=['sex'])

# Convert boolean columns to int (0/1)
df1_encoded['sex_Female'] = df1_encoded['sex_Female'].astype(int)
df1_encoded['sex_Male'] = df1_encoded['sex_Male'].astype(int)

print(df1_encoded[['sex_Female', 'sex_Male']].head())

   sex_Female  sex_Male
0           1         0
1           0         1
2           0         1
3           0         1
4           1         0

#LABEL ENCODING

In [30]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder= LabelEncoder()
#LABEL ENCODING
lbl_encoder.fit_transform(df[['color']])

/opt/miniconda3/lib/python3.13/site-packages/sklearn/preprocessing/_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [31]:
lbl_encoder.transform([['red']])

/opt/miniconda3/lib/python3.13/site-packages/sklearn/preprocessing/_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [32]:
#Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder
df=pd.DataFrame({
    'size' : ['small', 'medium', 'large', 'medium', 'small'],
})
df

     size
0   small
1  medium
2   large
3  medium
4   small

In [34]:
#creatin an instace of OrdinalEncoder
Ordinal_encoder=OrdinalEncoder(categories=[['small', 'medium', 'large']])
#perform fit and transform
Ordinal_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.]])