In [4]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [7]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [11]:
#UP-Sampling 
#spliting the data into majority and minority classes
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
#Resampling the minority class
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True #sample with replacement
         ,n_samples=len(df_majority),
         random_state=42) #to match majority class)

In [13]:
df_minority_upsampled.shape

(900, 3)

In [15]:
#combining the majority class with the upsampled minority class
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [16]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [17]:
#Down-Sampling
#Resampling the majority class
import numpy as np
import pandas as pd
np.random.seed(42)  # Different seed for different data

n_samples = 1000
class_0_ratio = 0.8
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

# Class 0
class_0_b = pd.DataFrame({
    'feature_1': np.random.normal(-1, 1.5, n_class_0),
    'feature_2': np.random.normal(-1, 1.5, n_class_0),
    'target': 0
})

# Class 1
class_1_b = pd.DataFrame({
    'feature_1': np.random.normal(3, 0.5, n_class_1),
    'feature_2': np.random.normal(3, 0.5, n_class_1),
    'target': 1
})

df2 = pd.concat([class_0_b, class_1_b]).reset_index(drop=True)

In [23]:
df2['target'].value_counts()

target
0    800
1    200
Name: count, dtype: int64

In [18]:
#spliting the data into majority and minority classes
df2_majority=df2[df2['target']==0]
df2_minority=df2[df2['target']==1]

In [19]:
from sklearn.utils import resample
#Resampling the majority class
df2_downsampling=resample(df2_majority,replace=True,
         n_samples=len(df2_minority),
         random_state=42)
df2_downsampling.shape

(200, 3)

In [20]:
df2_downsampled=pd.concat([df2_minority,df2_downsampling])

In [21]:
df2_downsampled['target'].value_counts()

target
1    200
0    200
Name: count, dtype: int64