In [ ]:
import pandas as pd

In [ ]:
#Series 

data=[10,22,3,34,667,33]
series=pd.Series(data)
print(series)

In [ ]:
#use dictionary to create series 
data = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
s = pd.Series(data)
print(s)

In [ ]:
#DataFrame
#use dictionaries to create dataframe

# Dictionary data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

In [9]:
import pandas as pd
df=pd.read_csv('customer_data.csv')
df.head(5) #getting first 5 elements of the csv file

,CustomerID,Name,Email,SignupDate,Country,Age,SpendingScore,AnnualIncome,IsSubscribed
0,e7e55a25-589d-44f7-b86a-c5f85ebcfe3e,Edward Stevenson,ericaowen@miller-ferrell.com,2025-03-31,Comoros,18,17,60427,False
1,1366b9fb-51d9-4e9c-b3a6-36022e1d0c9d,Scott Campbell,ifisher@hotmail.com,2024-08-09,Panama,52,55,67669,False
2,341abcf8-94ff-4127-9e40-a6de8dc84a40,Mr. George Stafford,dylan81@hotmail.com,2023-08-02,Hungary,20,61,105230,False
3,c76ab336-2b6f-4087-9d1b-14a541286564,Mr. David Smith,xperry@hotmail.com,2023-11-08,Canada,68,22,39006,False
4,3c779088-6e9a-42e8-a45c-33053ad192e2,Taylor Ferguson,bakereric@mathis.com,2025-02-07,Brunei Darussalam,55,50,25645,True

In [11]:
df.tail(22)
df['Name']
df.loc[0]
df

,CustomerID,Name,Email,SignupDate,Country,Age,SpendingScore,AnnualIncome,IsSubscribed
0,e7e55a25-589d-44f7-b86a-c5f85ebcfe3e,Edward Stevenson,ericaowen@miller-ferrell.com,2025-03-31,Comoros,18,17,60427,False
1,1366b9fb-51d9-4e9c-b3a6-36022e1d0c9d,Scott Campbell,ifisher@hotmail.com,2024-08-09,Panama,52,55,67669,False
2,341abcf8-94ff-4127-9e40-a6de8dc84a40,Mr. George Stafford,dylan81@hotmail.com,2023-08-02,Hungary,20,61,105230,False
3,c76ab336-2b6f-4087-9d1b-14a541286564,Mr. David Smith,xperry@hotmail.com,2023-11-08,Canada,68,22,39006,False
4,3c779088-6e9a-42e8-a45c-33053ad192e2,Taylor Ferguson,bakereric@mathis.com,2025-02-07,Brunei Darussalam,55,50,25645,True
...,...,...,...,...,...,...,...,...,...
495,c612607b-8b69-4905-9e16-18dc97c2ca05,Todd Roach,joneschristina@yahoo.com,2025-02-17,Lithuania,59,12,107719,False
496,cfc293f5-9fa1-43a4-86f1-4ba1b030baa1,Joann Thompson,wyoung@yahoo.com,2024-05-15,Venezuela,22,10,42617,False
497,882bad77-a69b-4e25-8132-e092f26a8e63,Donald Savage,brittany97@jones-morales.com,2023-07-14,Poland,52,78,57199,False
498,dd9a0562-f6df-4dee-8b23-da58e1ba5f06,Erin Bender,erikamurray@gmail.com,2024-08-14,Peru,53,97,62852,False
499,1072718c-7818-4dc1-9175-f6ff3470e1ab,Angela Clark,richard45@yahoo.com,2024-08-05,Bahamas,59,79,45533,True