In [ ]:
import pandas as pd 
df=pd.read_csv('data.csv')
df.head(2)

df.fillna(0) #filling the missing values with 0

In [ ]:
#missing values 
df.isnull().sum()

In [ ]:
df['Age_fillNa']=df['Age'].fillna(df['Age'].mean())
df

In [ ]:
#using lambda to create new values
df['New Age']=df['Age_fillNa'].apply(lambda x:x+10)
df

In [ ]:
#data aggregation
grouped_mean=df.groupby('Name')['Age_fillNa'].mean()
print(grouped_mean)