Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 
Set the index to be the first column.

In [ ]:
import pandas as pd 
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['a',"b","c","d"])
print(df)
df.set_index('a',inplace=True)
print("DataFrame with new index: ")
print(df)

Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [ ]:
import pandas as pd 
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,size=(3,3)))
df.columns=['A','B','C']
df.index=['X', 'Y', 'Z']
print(df)
element=df.at['Y','B']
(print("Element at row 'Y' and column 'B':", element))

Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
Add a new column that is the product of the first two columns.

In [11]:
df=pd.DataFrame(np.random.randint(1,29,size=(5,3)))
df.columns=['A','B','C']
print(df)
#Adding new column as product of frist two column
df['D']=df['A']*df['B']
print("DataFrame adding new column:")
print(df)

    A   B   C
0  10   6   7
1  13  26   6
2  16  18  23
3   4  15  13
4  23  17  24
DataFrame adding new column:
    A   B   C    D
0  10   6   7   60
1  13  26   6  338
2  16  18  23  288
3   4  15  13   60
4  23  17  24  391

Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. 
Compute the row-wise and column-wise sum.

In [13]:
df=pd.DataFrame(np.random.randint(1,101,size=(4,3)))
print(df)
row=df.sum(axis=1)
column=df.sum(axis=0)
print("The sum of row-wise:",row)
print("The sum of column-wise:",column)

    0    1   2
0  54   38  18
1  21  100  43
2  88   50   7
3  43   94  79
The sum of row-wise: 0    110
1    164
2    145
3    216
dtype: int64
The sum of column-wise: 0    206
1    282
2    147
dtype: int64

Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [28]:
df=pd.DataFrame(np.random.randint(1,101,size=(5,3)),columns=['A','B','C'])
print(df)
df.iloc[1,0]=np.nan
df.iloc[3,2]=np.nan
df.iloc[4,1]=np.nan
print("DataFrame with naNs:")
print(df)
print(df.isna)
df_filled=df.fillna(df.mean(numeric_only=True))
print("DataFrame with filled values: ")
print(df_filled)

    A   B   C
0  62  32  32
1  61  49  29
2  51  62  98
3  22  24  22
4  40  22  26
DataFrame with naNs:
      A     B     C
0  62.0  32.0  32.0
1   NaN  49.0  29.0
2  51.0  62.0  98.0
3  22.0  24.0   NaN
4  40.0   NaN  26.0
<bound method DataFrame.isna of       A     B     C
0  62.0  32.0  32.0
1   NaN  49.0  29.0
2  51.0  62.0  98.0
3  22.0  24.0   NaN
4  40.0   NaN  26.0>
DataFrame with filled values:
       A      B      C
0  62.00  32.00  32.00
1  43.75  49.00  29.00
2  51.00  62.00  98.00
3  22.00  24.00  46.25
4  40.00  41.75  26.00

Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 
Introduce some NaN values. Drop the rows with any NaN values.

In [27]:
df=pd.DataFrame(np.random.randint(1,101,size=(6,4)),columns=['A','B','C','D'])
print(df)
df.iloc[0,3]=np.nan
df.iloc[2,1]=np.nan
df.iloc[5,3]=np.nan
print("DataSet with NaN values:")
print(df)
df.dropna(inplace=True)
print("DataSet with dropped vales: ")
print(df)

    A   B   C   D
0   9  96  92  56
1  23  37  36  61
2   7  97  19  17
3   5  56  97  74
4  90  20  14  98
5  25   8  55   4
DataSet with NaN values:
    A     B   C     D
0   9  96.0  92   NaN
1  23  37.0  36  61.0
2   7   NaN  19  17.0
3   5  56.0  97  74.0
4  90  20.0  14  98.0
5  25   8.0  55   NaN
DataSet with dropped vales:
    A     B   C     D
1  23  37.0  36  61.0
3   5  56.0  97  74.0
4  90  20.0  14  98.0