Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 
Set the index to be the first column.

In [ ]:
import pandas as pd 
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['a',"b","c","d"])
print(df)
df.set_index('a',inplace=True)
print("DataFrame with new index: ")
print(df)

Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [ ]:
import pandas as pd 
import numpy as np
df=pd.DataFrame(np.random.randint(1,100,size=(3,3)))
df.columns=['A','B','C']
df.index=['X', 'Y', 'Z']
print(df)
element=df.at['Y','B']
(print("Element at row 'Y' and column 'B':", element))

Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
Add a new column that is the product of the first two columns.

In [ ]:
df=pd.DataFrame(np.random.randint(1,29,size=(5,3)))
df.columns=['A','B','C']
print(df)
#Adding new column as product of frist two column
df['D']=df['A']*df['B']
print("DataFrame adding new column:")
print(df)

Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. 
Compute the row-wise and column-wise sum.

In [ ]:
df=pd.DataFrame(np.random.randint(1,101,size=(4,3)))
print(df)
row=df.sum(axis=1)
column=df.sum(axis=0)
print("The sum of row-wise:",row)
print("The sum of column-wise:",column)

Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [ ]:
df=pd.DataFrame(np.random.randint(1,101,size=(5,3)),columns=['A','B','C'])
print(df)
df.iloc[1,0]=np.nan
df.iloc[3,2]=np.nan
df.iloc[4,1]=np.nan
print("DataFrame with naNs:")
print(df)
print(df.isna)
df_filled=df.fillna(df.mean(numeric_only=True))
print("DataFrame with filled values: ")
print(df_filled)

Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. 
Introduce some NaN values. Drop the rows with any NaN values.

In [ ]:
df=pd.DataFrame(np.random.randint(1,101,size=(6,4)),columns=['A','B','C','D'])
print(df)
df.iloc[0,3]=np.nan
df.iloc[2,1]=np.nan
df.iloc[5,3]=np.nan
print("DataSet with NaN values:")
print(df)
df.dropna(inplace=True)
print("DataSet with dropped vales: ")
print(df)

Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with 
random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame 
by 'Category' and compute the sum and mean of 'Value' for each category.

In [ ]:
import pandas as pd
import numpy as np
categories=np.random.choice(['A','B','C'],size=20)
values=np.random.randint(10,100,size=20)
df=pd.DataFrame({
    'Category':categories,
    'Values':values
})
print("DataFrame: ")
print(df)
aggregate=df.groupby('Category')['Values'].agg(['sum','mean'])
print("Aggregate Data: ")
print(aggregate)

Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. 
Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute 
the total sales for each category.

In [ ]:
df=pd.DataFrame({
    'Product':np.random.choice(['Product1','Product2','Product3'],size=10),
    'Category':np.random.choice(['A','B','C'],size=10),
     'Sales':np.random.randint(1,1000,size=10)
})
print("DataFrame: ")
print(df)
aggreate=df.groupby('Category')['Sales'].sum()
print("The data after aggregation: ")
print(aggreate)

 Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.